<!-- <div class="card row justify-content-center align-items-center" > -->



<div class="genre_wrapper">
  <div class="">
    <img id="genre_img" src="{{url_for('static',filename=path)}}">
  </div>

  <span>{{song_name}} by {{artist_name}}</span>
  <span>was classified as <b>{{genre}}</b></span>
</div>

<!-- </div> -->
