
<div class="button-container">
        <div class="holder">
            <div data-role="controls">
                <button onlick="myFunction()" class="button" onlick="button()" onclick="record()" id="rbutton">Record Your Own Audio</button>
            </div>
        </div>
        <!-- <button onclick='random();' class="button" id="generate">Generate Random Audio</button> -->

      </div>

      <div class="button-container">
      <div data-role="recordings" id="record"></div>
      <div id="myDIV">
      <span id='player' class="player"></span>
      </div>
    </div>
<p id="text">Clip must be at least 30 seconds long!</p>
<div class="button-container">
<button onclick="myFunction()" id="exit" class="button">Exit</button>
<button id="use" class="button">Use</button>
</div>
