
<div class="button-container">
            <div data-role="controls">
                <button class="btn btn-success">Record Your Own Audio</button>
            </div>


      <div data-role="recordings" id="record"></div>


<p class = "marginleft">Clip must be at least 30 seconds long!</p>
  </div>
