
<div class="button-container">
            <div data-role="controls">
                <button class="button">Record Your Own Audio</button>
            </div>
            
      <div data-role="recordings" id="record"></div>


<p>Clip must be at least 30 seconds long!</p>
  </div>
