<div class="card row justify-content-center align-items-center" >
    <div class="card-body">

        <h5 class="card-title">Search For a Song</h5>
        <div class="inline-display"> 
        <form method="POST">


                <input  id="input" placeholder="Search Song/Artist" name="search" type="search" id="form1" class="form-control" />



        </form>
        </div>
        <button id = "submitbutton" class="btn btn-primary" onclick = "submitChoices();"> Submit! </button>


        <div id="listdiv"> </div>

 {#
        {% for result in results %}

            <ul id="myUL">
              {% if result['preview_url'] %}
                <li><a href = '#' onclick="getSongData('{{ result['preview_url'] }}')">{{ result['name'] }}</a></li>
              {% endif %}
            </ul>
        {% endfor %}

#}


    </div>
</div>
