<div class="card row justify-content-center align-items-center" >
    <div class="card-body">

        <h5 class="card-title">Search For a Song</h5>
        <div class="inline-display">
        <form method="POST" onsubmit="return false;">


                <input  id="input" placeholder="Search Song/Artist" name="search" type="search" id="form1" class="form-control" />



        </form>
        </div>
        <button id = "submitbutton" class="btn btn-primary" onclick = "submitChoices();"> Submit! </button>


        <div id="listdiv"> </div>




    </div>
</div>
