<!doctype html>
<html lang="en">
    <head>
        <title>Audio Recorder</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
        
    </head>
    <body onload="yay()">
        <div class="holder">
            <div data-role="controls">
                <button class="button button2">Record</button>
            </div>
            <div data-role="recordings"></div>
        </div>
        <button onclick='random();' class="button button2">Generate Random Audio</button>
        <div id="myDIV">
          <audio controls autoplay muted>
            <source src="static/1.wav" type="audio/wav">
          </audio>
        </div>
        <span id='player'></span>
    </body>
</html>
