
{% extends 'base.html.j2' %}

{% block title %}
Spotify Webpage
{% endblock %}

{% block body %}
<p>Search For a Song</p>
<form action="/" method="POST">
    <div class="input-group">
    <div class="form-outline">
        <input placeholder="Search Song/Artist" name="search" type="search" id="form1" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary">
    </input>
    </div>
</form>







{% endblock %}

