
{% extends 'base.html.j2' %}

{% block title %}
Spotify Webpage
{% endblock %}

{% block body %}
<p>Connect To Spotify</p>
<button type="button" id="connect" class="btn btn-primary">Connect</button>


<script>


    let button = document.getElementById("connect");

    button.addEventListener('click',async()=>{
        console.log('working!')
        await connect()
    })


    async function connect() {
    console.log('in func')
        var scope = 'user-read-private user-read-email';
        var client_id = '8bded2f340e44e03a981384c95b90841'; // Your client id
        var client_secret = '9d78bf687193476bb8bc81707f439431'; // Your secret
        var redirect_uri = 'http://127.0.0.1:5000/callback'; // Your redirect uri

        var state = '1234'

        console.log(new URLSearchParams({
            response_type: 'code',
            client_id: client_id,
            scope: scope,
            redirect_uri: redirect_uri,
            state: state
        }))


        await fetch('https://quiet-spire-64375.herokuapp.com/' + 'https://accounts.spotify.com/authorize?' + new URLSearchParams({
            response_type: 'code',
            client_id: client_id,
            scope: scope,
            redirect_uri: redirect_uri,
            state: state
        })).then(async(res) => { return await res.json() })
            .then((data) => {
            console.log(data)
        }).catch((err)=>{
        console.log(err)
        })
  }


</script>

{% endblock %}

